body{width:100%;height:100%;background-color:#000;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
aside{display:block;width:256px;padding:6px;z-index:201;position:fixed;top:50px;bottom:0;left:-270px;-webkit-transition:all 150ms ease;-moz-transition:all 150ms ease;-ms-transition:all 150ms ease;-o-transition:all 150ms ease;transition:all 150ms ease;}
aside.show{-webkit-transform:translate(270px);-moz-transform:translate(270px);-ms-transform:translate(270px);-o-transform:translate(270px);transform:translate(270px)}
aside .counter{margin-top:-3px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:.2em .4em .2em .4em;float:right}
div[data-element="aside_background"]{position:fixed;top:50px;bottom:0;left:0;right:0;-webkit-transition:opacity 150ms ease-out;-moz-transition:opacity 150ms ease-out;-ms-transition:opacity 150ms ease-out;-o-transition:opacity 150ms ease-out;transition:opacity 150ms ease-out;z-index:0;opacity:0;}
div[data-element="aside_background"].show{background-color:#000;opacity:.6;z-index:200}
.indented > div{padding:.8em}
.anchor{width:100%}
.smallest{font-size:11px}
.small{font-size:.9em}
.big{font-size:1.2em}
.biggest{font-size:1.4em}

section{height:inherit;width:inherit;position:fixed;z-index:0;top:0;left:0;opacity:0;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;}
section.active{opacity:1;z-index:100}
header{position:fixed;top:0;left:0;height:50px;width:100%;}
header > h1{font-weight:bold;display:inline-block;position:absolute;text-align:center;width:100%;left:0;z-index:101}
header > nav{margin-top:5px;position:absolute;z-index:102;}
header > nav.right{right:0;}
header > nav.right > button{margin-right:5px}
header > nav.left{left:0;}
header > nav.left > button{margin-left:5px}
footer{position:fixed;bottom:0;left:0;width:100%;height:65px;}
footer > nav{width:100%;display:-webkit-box;display:-ms-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center;}
footer > nav > *{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;}
footer > nav > *.active{background-color:rgba(250,250,250,0.15)}
footer > nav > div{display:block;height:65px;text-align:center}
article{position:fixed;top:50px;left:0;height:inherit;width:100%;display:none;padding-top:5px;}
article.active{display:block}

article ul{list-style:none;width:100%;padding:0;margin-left:0;margin-right:0;}
article ul > li{position:relative;background-color:#fff;border-bottom:1px solid rgba(0,0,0,0.1);padding:11px 10px 11px 10px;}
article ul > li.separator{background-color:rgba(0,0,0,0.1);color:#fff;padding:1px 10px 1px 10px}
article ul > li:first-child{border-top:1px solid rgba(0,0,0,0.1)}
article ul.indented > li{margin:.8em}
aside ul{list-style:none;width:100%;padding:0;margin-left:0;margin-right:0;}
aside ul > li{position:relative;font-size:1.2em;padding:11px 10px 11px 10px;}
aside ul > li.separator{background-color:rgba(0,0,0,0.1);color:#fff;padding:1px 10px 1px 10px}

.line{width:100%;display:block;}
.line > *{float:left;display:inline;text-align:center}
.line > .one_column{width:10%}
.line > .one_gap{margin-left:10%}
.line > .two_column{width:20%}
.line > .two_gap{margin-left:20%}
.line > .three_column{width:30%}
.line > .three_gap{margin-left:30%}
.line > .four_column{width:40%}
.line > .four_gap{margin-left:40%}
.line > .five_column{width:50%}
.line > .five_gap{margin-left:50%}
.line > .six_column{width:60%}
.line > .six_gap{margin-left:60%}
.line > .seven_column{width:70%}
.line > .seven_gap{margin-left:70%}
.line > .eight_column{width:80%}
.line > .eight_gap{margin-left:80%}
.line > .nine_column{width:90%}
.line > .nine_gap{margin-left:90%}
.line > .ten_column{width:100%}
.line > .ten_gap{margin-left:100%}
.grid{width:100%;display:-webkit-box;display:-ms-box;display:-o-box;display:-moz-box;display:box;}
.grid.vertical{height:inherit;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;-webkit-box-align:stretch;-moz-box-align:stretch;-ms-box-align:stretch;-o-box-align:stretch;box-align:stretch}
.grid.horizontal{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal}
.grid > *{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.box_2{-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.box_3{-webkit-box-flex:3;-moz-box-flex:3;-ms-box-flex:3;-o-box-flex:3;box-flex:3}
.box_4{-webkit-box-flex:4;-moz-box-flex:4;-ms-box-flex:4;-o-box-flex:4;box-flex:4}
.box_5{-webkit-box-flex:5;-moz-box-flex:5;-ms-box-flex:5;-o-box-flex:5;box-flex:5}
.box_6{-webkit-box-flex:6;-moz-box-flex:6;-ms-box-flex:6;-o-box-flex:6;box-flex:6}
.box_7{-webkit-box-flex:7;-moz-box-flex:7;-ms-box-flex:7;-o-box-flex:7;box-flex:7}
.box_8{-webkit-box-flex:8;-moz-box-flex:8;-ms-box-flex:8;-o-box-flex:8;box-flex:8}
.box_9{-webkit-box-flex:9;-moz-box-flex:9;-ms-box-flex:9;-o-box-flex:9;box-flex:9}

button{text-indent:0;border:0;display:inline-block;font-weight:bold;font-style:normal;line-height:2.5em;text-decoration:none;text-align:center;}
button.smallest{line-height:2em;padding:0 .6em}
button.small{line-height:2.25em}
button.big{line-height:2.75em}
button.biggest{line-height:3em}
header button{text-indent:0;display:inline-block;font-weight:bold;font-style:normal;height:100%;text-decoration:none;text-align:center;}
header button .counter{position:relative;top:-.55em;margin-left:.5em;margin-right:.5em;line-height:15px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.1em .2em .1em .2em;font-size:11px}
header button.button{text-indent:0;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;display:inline-block;font-weight:bold;font-style:normal;line-height:35px;text-decoration:none;text-align:center;-webkit-box-shadow:1px 1px rgba(255,255,255,0.25);-moz-box-shadow:1px 1px rgba(255,255,255,0.25);-ms-box-shadow:1px 1px rgba(255,255,255,0.25);-o-box-shadow:1px 1px rgba(255,255,255,0.25);box-shadow:1px 1px rgba(255,255,255,0.25);}
header button.button .counter{margin-left:.05em;margin-right:.05em}
footer div button{width:100%;height:inherit;}
footer div button .counter{position:relative;top:-1.2000000000000002em;margin-left:.8em;margin-right:.8em;line-height:15px;-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.2em .5em .2em .5em;font-size:.9em}

div[data-element="notification"]{position:fixed;top:0;bottom:0;left:0;right:0;display:none;background-color:rgba(0,0,0,0.6);z-index:400;padding-left:2em;padding-right:2em;padding-top:4em;-webkit-box-align:start;-ms-box-align:start;-moz-box-align:start;-webkit-box-align:start;-moz-box-align:start;-ms-box-align:start;-o-box-align:start;box-align:start;-webkit-box-pack:center;-ms-box-pack:center;-moz-box-pack:center;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;-o-box-pack:center;box-pack:center;}
div[data-element="notification"].show{display:-webkit-box;display:-ms-box;display:-moz-box;display:box}
div[data-element="notification"] > div.window{margin-top:200%;text-align:center;color:rgba(0,0,0,0.8);padding:.8em;-webkit-box-flex:1;-moz-ms-flex:1;-moz-box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;opacity:0;-webkit-transition-duration:500ms;-moz-transition-duration:500ms;-ms-transition-duration:500ms;-o-transition-duration:500ms;-webkit-transition-duration:500ms;-moz-transition-duration:500ms;-ms-transition-duration:500ms;-o-transition-duration:500ms;transition-duration:500ms;-webkit-transition-timing-function:cubic-bezier(.645,.045,.355,1);-moz-transition-timing-function:cubic-bezier(.645,.045,.355,1);-ms-transition-timing-function:cubic-bezier(.645,.045,.355,1);-o-transition-timing-function:cubic-bezier(.645,.045,.355,1);-webkit-transition-timing-function:cubic-bezier(.645,.045,.355,1);-moz-transition-timing-function:cubic-bezier(.645,.045,.355,1);-ms-transition-timing-function:cubic-bezier(.645,.045,.355,1);-o-transition-timing-function:cubic-bezier(.645,.045,.355,1);transition-timing-function:cubic-bezier(.645,.045,.355,1);}
div[data-element="notification"] > div.window.show{margin-top:0%;opacity:1}
div[data-element="notification"] > div.window > *{display:block;text-align:center;width:100%}
div[data-element="notification"] > div.window > .title{padding-bottom:.5em;border-bottom:2px solid rgba(0,0,0,0.2)}
div[data-element="notification"] > div.window > .content{padding-top:.5em}

.blue{background-color:#00f !important}
.red{background-color:#f00 !important}
.yellow{background-color:#ff0 !important}
.black{background-color:#000 !important}
.white{background-color:#fff !important}
.grey{background-color:#808080 !important}
.green{background-color:#008000 !important}
.pink{background-color:#ffc0cb !important}
.purple{background-color:#800080 !important}
.brown{background-color:#a52a2a !important}
.firefox{background-color:#f60 !important}

body{font:12.8px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}
header{background-color:#f60;color:#f4f4f4;}
header .counter{background-color:#ff944d}
header .button{border:1px solid #b34700}
header .counter{background-color:#e65c00}
footer{background-color:#2f2f2f;color:#f4f4f4;}
footer nav > div > button{background-color:#2f2f2f}
footer .counter{background-color:#4e4e4e}
article{background-color:#e7e7e7;color:#000}
aside{background-color:#2f2f2f;color:#f4f4f4;}
aside .counter{background-color:#6d6d6d}
header button.button{background-color:#ff7d26}
button{font-size:12.8px;background-color:#f60;color:#f4f4f4}
button.accept{background-color:#2ecc71;color:#f4f4f4}
button.cancel{background-color:#e74c3c;color:#f4f4f4}
aside .current,footer .current{background-color:#4e4e4e}
div[data-element="notification"] > div.window{background-color:#ededed}
