body{width:100%;height:100%;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
aside{display:block;width:256px;padding:6px;z-index:201;position:fixed;top:50px;bottom:0;left:-276px;-webkit-transition-duration:150ms;-moz-transition-duration:150ms;-ms-transition-duration:150ms;-o-transition-duration:150ms;transition-duration:150ms;}
aside.show{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);left:0}
aside .counter{margin-top:-3px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:.2em .4em .2em .4em;float:right}
div[data-element="aside_background"]{position:fixed;top:50px;bottom:0;left:0;right:0;-webkit-transition:opacity 150ms ease-out;-moz-transition:opacity 150ms ease-out;-ms-transition:opacity 150ms ease-out;-o-transition:opacity 150ms ease-out;transition:opacity 150ms ease-out;z-index:0;opacity:0;}
div[data-element="aside_background"].show{background-color:#000;opacity:.6;z-index:200}
.indented > div{padding:.8em}
.anchor{width:100%}
.smallest{font-size:11px}
.small{font-size:.9em}
.big{font-size:1.2em}
.biggest{font-size:1.4em}
.onleft{float:left}
.onright{float:right}
.padding.top{padding-top:.8em !important}
.padding.bottom{padding-bottom:.8em !important}
.padding.left{padding-left:.8em !important}
.padding.right{padding-right:.8em !important}
.margin.top{margin-top:.8em !important}
.margin.bottom{margin-bottom:.8em !important}
.margin.left{margin-left:.8em !important}
.margin.right{margin-right:.8em !important}
.scroll.vertical{overflow-y:scroll}
.scroll.horizontal{overflow-x:scroll}
.progress_bar{width:100%;height:10px;display:block;}
.progress_bar .percent{height:inherit;display:block;-webkit-transition-duration:500ms;-moz-transition-duration:500ms;-ms-transition-duration:500ms;-o-transition-duration:500ms;transition-duration:500ms}
.clear:after{display:block;content:"";clear:both}

section{height:inherit;width:inherit;position:absolute;z-index:0;top:0;left:0;opacity:0;-webkit-transition-duration:300ms;-moz-transition-duration:300ms;-ms-transition-duration:300ms;-o-transition-duration:300ms;transition-duration:300ms;}
section.active{opacity:1;z-index:100}
section:not(.active) > article{display:none}
section.footer > article{padding-bottom:65px}
header{position:fixed;top:0;left:0;right:0;height:50px;line-height:50px;width:100%;z-index:101;}
header > h1{font-weight:bold;display:inline-block;position:absolute;text-align:center;width:100%;left:0;margin-top:0;z-index:102}
header > nav{position:fixed;z-index:103;}
header > nav.right{right:0;}
header > nav.right > button{margin-right:5px}
header > nav.left{left:0;}
header > nav.left > button{margin-left:5px}
footer{position:fixed;bottom:0;left:0;right:0;width:100%;height:65px;line-height:65px;display:-webkit-box;display:-ms-box;display:-moz-box;display:-o-box;display:box;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;-ms-box-direction:normal;-o-box-direction:normal;box-direction:normal;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;-webkit-box-align:stretch;-moz-box-align:stretch;-ms-box-align:stretch;-o-box-align:stretch;box-align:stretch;}
footer nav{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;height:65px;line-height:65px;padding:0;display:-webkit-box;display:-ms-box;display:-moz-box;display:-o-box;display:box;width:100%;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal;-webkit-box-direction:normal;-moz-box-direction:normal;-ms-box-direction:normal;-o-box-direction:normal;box-direction:normal;-webkit-box-pack:justify;-moz-box-pack:justify;-ms-box-pack:justify;-o-box-pack:justify;box-pack:justify;-webkit-box-align:stretch;-moz-box-align:stretch;-ms-box-align:stretch;-o-box-align:stretch;box-align:stretch;}
footer nav > *{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1;text-align:center;width:100%;display:block;height:65px;}
footer nav > * > *{line-height:65px;height:65px}
footer nav > *.active{background-color:rgba(250,250,250,0.15)}
article{min-width:100%;width:auto;display:none;padding-top:5px;position:absolute;top:50px;}
article.active{display:block}

article ul{list-style:none;width:100%;padding:0;margin-left:0;margin-right:0;}
article ul > li{position:relative;background-color:#fff;border-bottom:1px solid rgba(0,0,0,0.1);padding:11px 10px 11px 10px;}
article ul > li.separator{background-color:rgba(0,0,0,0.1);color:#fff;padding:1px 10px 1px 10px}
article ul > li:first-child{border-top:1px solid rgba(0,0,0,0.1)}
article ul.indented > li{margin:.8em}
aside ul{list-style:none;width:100%;padding:0;margin-left:0;margin-right:0;}
aside ul > li{position:relative;font-size:1.2em;padding:11px 10px 11px 10px;}
aside ul > li.separator{background-color:rgba(0,0,0,0.1);color:#fff;padding:1px 10px 1px 10px}

.line{width:100%;display:block;}
.line:after{display:block;content:"";clear:both}
.line > *{float:left;display:inline;text-align:center}
.line > .one_column{width:10%}
.line > .one_gap{margin-left:10%}
.line > .two_column{width:20%}
.line > .two_gap{margin-left:20%}
.line > .three_column{width:30%}
.line > .three_gap{margin-left:30%}
.line > .four_column{width:40%}
.line > .four_gap{margin-left:40%}
.line > .five_column{width:50%}
.line > .five_gap{margin-left:50%}
.line > .six_column{width:60%}
.line > .six_gap{margin-left:60%}
.line > .seven_column{width:70%}
.line > .seven_gap{margin-left:70%}
.line > .eight_column{width:80%}
.line > .eight_gap{margin-left:80%}
.line > .nine_column{width:90%}
.line > .nine_gap{margin-left:90%}
.line > .ten_column{width:100%}
.line > .ten_gap{margin-left:100%}
.grid{width:100%;display:-webkit-box;display:-ms-box;display:-o-box;display:-moz-box;display:box;}
.grid.vertical{height:inherit;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;-webkit-box-align:stretch;-moz-box-align:stretch;-ms-box-align:stretch;-o-box-align:stretch;box-align:stretch}
.grid.horizontal{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-ms-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal}
.grid > *{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;box-flex:1}
.box_2{-webkit-box-flex:2;-moz-box-flex:2;-ms-box-flex:2;-o-box-flex:2;box-flex:2}
.box_3{-webkit-box-flex:3;-moz-box-flex:3;-ms-box-flex:3;-o-box-flex:3;box-flex:3}
.box_4{-webkit-box-flex:4;-moz-box-flex:4;-ms-box-flex:4;-o-box-flex:4;box-flex:4}
.box_5{-webkit-box-flex:5;-moz-box-flex:5;-ms-box-flex:5;-o-box-flex:5;box-flex:5}
.box_6{-webkit-box-flex:6;-moz-box-flex:6;-ms-box-flex:6;-o-box-flex:6;box-flex:6}
.box_7{-webkit-box-flex:7;-moz-box-flex:7;-ms-box-flex:7;-o-box-flex:7;box-flex:7}
.box_8{-webkit-box-flex:8;-moz-box-flex:8;-ms-box-flex:8;-o-box-flex:8;box-flex:8}
.box_9{-webkit-box-flex:9;-moz-box-flex:9;-ms-box-flex:9;-o-box-flex:9;box-flex:9}

#circular3dG{position:relative;height:64px}
.circular3dG{position:absolute;background-color:#000;width:6.4px;height:6.4px;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-webkit-animation-name:bounce_circular3dG;-moz-animation-name:bounce_circular3dG;-ms-animation-name:bounce_circular3dG;-o-animation-name:bounce_circular3dG;animation-name:bounce_circular3dG;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:linear;-moz-animation-direction:linear;-ms-animation-direction:linear;-o-animation-direction:linear;animation-direction:linear}
#circular3d_1G{left:33px;top:4px;-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}
#circular3d_2G{left:46px;top:15px;-webkit-animation-delay:.39999999999999997s;-moz-animation-delay:.39999999999999997s;-ms-animation-delay:.39999999999999997s;-o-animation-delay:.39999999999999997s;animation-delay:.39999999999999997s}
#circular3d_3G{left:54px;top:29px;-webkit-animation-delay:.5s;-moz-animation-delay:.5s;-ms-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s}
#circular3d_4G{left:51px;top:43px;-webkit-animation-delay:.6s;-moz-animation-delay:.6s;-ms-animation-delay:.6s;-o-animation-delay:.6s;animation-delay:.6s}
#circular3d_5G{left:34px;top:47px;-webkit-animation-delay:.7s;-moz-animation-delay:.7s;-ms-animation-delay:.7s;-o-animation-delay:.7s;animation-delay:.7s}
#circular3d_6G{left:12px;top:31px;-webkit-animation-delay:.7999999999999999s;-moz-animation-delay:.7999999999999999s;-ms-animation-delay:.7999999999999999s;-o-animation-delay:.7999999999999999s;animation-delay:.7999999999999999s}
#circular3d_7G{left:7px;top:9px;-webkit-animation-delay:.8999999999999999s;-moz-animation-delay:.8999999999999999s;-ms-animation-delay:.8999999999999999s;-o-animation-delay:.8999999999999999s;animation-delay:.8999999999999999s}
#circular3d_8G{left:18px;top:0;-webkit-animation-delay:1s;-moz-animation-delay:1s;-ms-animation-delay:1s;-o-animation-delay:1s;animation-delay:1s}
@-moz-keyframes bounce_circular3dG{0%{-webkit-transform:scale(2.6);-moz-transform:scale(2.6);-ms-transform:scale(2.6);-o-transform:scale(2.6);transform:scale(2.6)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-webkit-keyframes bounce_circular3dG{0%{-webkit-transform:scale(2.6);-moz-transform:scale(2.6);-ms-transform:scale(2.6);-o-transform:scale(2.6);transform:scale(2.6)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-o-keyframes bounce_circular3dG{0%{-webkit-transform:scale(2.6);-moz-transform:scale(2.6);-ms-transform:scale(2.6);-o-transform:scale(2.6);transform:scale(2.6)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@-ms-keyframes bounce_circular3dG{0%{-webkit-transform:scale(2.6);-moz-transform:scale(2.6);-ms-transform:scale(2.6);-o-transform:scale(2.6);transform:scale(2.6)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}@keyframes bounce_circular3dG{0%{-webkit-transform:scale(2.6);-moz-transform:scale(2.6);-ms-transform:scale(2.6);-o-transform:scale(2.6);transform:scale(2.6)}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
}
button,.button{text-indent:0;border:0;display:inline-block;font-weight:bold;font-style:normal;line-height:2.5em;text-decoration:none;text-align:center;padding-left:1em;padding-right:1em;}
button.smallest,.button.smallest{line-height:2em;padding:0 .6em}
button.small,.button.small{line-height:2.25em}
button.big,.button.big{line-height:2.75em}
button.biggest,.button.biggest{line-height:3em}
header button{text-indent:0;display:inline-block;font-weight:bold;font-style:normal;height:100%;text-decoration:none;text-align:center;background-color:rgba(0,0,0,0);}
header button .counter{position:relative;top:-.55em;margin-left:.5em;margin-right:.5em;line-height:15px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.1em .2em .1em .2em;font-size:11px}
header button.button{text-indent:0;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;display:inline-block;font-weight:bold;font-style:normal;line-height:35px;text-decoration:none;text-align:center;-webkit-box-shadow:1px 1px rgba(255,255,255,0.25);-moz-box-shadow:1px 1px rgba(255,255,255,0.25);-ms-box-shadow:1px 1px rgba(255,255,255,0.25);-o-box-shadow:1px 1px rgba(255,255,255,0.25);box-shadow:1px 1px rgba(255,255,255,0.25);}
header button.button .counter{margin-left:.05em;margin-right:.05em}
footer button{height:inherit;width:100%;background-image:none;background-color:rgba(0,0,0,0);}
footer button .counter{position:relative;top:-1.2000000000000002em;line-height:15px;-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;padding:.2em .5em .2em .5em;font-size:.9em}

div[data-element="notification"]{position:fixed;top:0;bottom:0;left:0;right:0;display:none;background-color:rgba(0,0,0,0.6);z-index:400;padding-top:0;padding-left:2em;padding-right:2em;}
div[data-element="notification"].show{display:block}
div[data-element="notification"] > div.window{color:rgba(0,0,0,0.8);padding:.8em;margin-left:auto;margin-right:auto;opacity:0;max-width:450px;width:80%;-webkit-transition-duration:500ms;-moz-transition-duration:500ms;-ms-transition-duration:500ms;-o-transition-duration:500ms;transition-duration:500ms;}
div[data-element="notification"] > div.window:after{display:block;content:"";clear:both}
div[data-element="notification"] > div.window.top_position{margin-top:620px;}
div[data-element="notification"] > div.window.top_position.downwards{margin-top:-570px}
div[data-element="notification"] > div.window.top_position.margin{margin-top:670px}
div[data-element="notification"] > div.window.top_position.no_margin{margin-top:570px}
div[data-element="notification"] > div.window.upwards.show{-webkit-transform:translate(0,-570px);-moz-transform:translate(0,-570px);-ms-transform:translate(0,-570px);-o-transform:translate(0,-570px);transform:translate(0,-570px)}
div[data-element="notification"] > div.window.downwards.show{-webkit-transform:translate(0,570px);-moz-transform:translate(0,570px);-ms-transform:translate(0,570px);-o-transform:translate(0,570px);transform:translate(0,570px)}
div[data-element="notification"] > div.window.left *{display:block;text-align:left}
div[data-element="notification"] > div.window.left > *{display:block}
div[data-element="notification"] > div.window.center{text-align:center;padding:1.8em;margin-top:50%}
div[data-element="notification"] > div.window.confirm{max-width:800px;}
div[data-element="notification"] > div.window.confirm .accept{float:left;width:48.5%}
div[data-element="notification"] > div.window.confirm .cancel{float:right;width:48.5%}
div[data-element="notification"] > div.window .icon{display:block;text-align:center;height:100%;width:80px;font-size:3em;float:left;margin-right:.2em}
div[data-element="notification"] > div.window:not(.progress) .icon{line-height:80px}
div[data-element="notification"] > div.window.show{opacity:1}
div[data-element="notification"] > div.window.success,div[data-element="notification"] > div.window.error{border-style:solid;border-width:0 0 0 4px;}
div[data-element="notification"] > div.window.success .title,div[data-element="notification"] > div.window.error .title{padding-top:.3em}
div[data-element="notification"] > div.window.progress{width:80%;}
div[data-element="notification"] > div.window.progress .icon{width:100%}
div[data-element="notification"] > div.window .title{line-height:40px;font-size:1.2em}
div[data-element="notification"] > div.window .content{padding-top:.5em}
div[data-element="notification"] > div.window #circular_container{width:64px;margin:0 auto 0 auto}

.blue{background-color:#00f !important}
.red{background-color:#f00 !important}
.yellow{background-color:#ff0 !important}
.black{background-color:#000 !important}
.white{background-color:#fff !important}
.grey{background-color:#808080 !important}
.green{background-color:#008000 !important}
.pink{background-color:#ffc0cb !important}
.purple{background-color:#800080 !important}
.brown{background-color:#a52a2a !important}
.firefox{background-color:#f60 !important}

body{font:12.8px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;background-color:#e7e7e7}
header{background-color:#f60;background-image:-webkit-linear-gradient(#ff9c59,#f60);background-image:-moz-linear-gradient(#ff9c59,#f60);background-image:-ms-linear-gradient(#ff9c59,#f60);background-image:-o-linear-gradient(#ff9c59,#f60);background-image:linear-gradient(#ff9c59,#f60);color:#f4f4f4 !important;}
header .counter{background-color:#ff944d}
header .button{border:1px solid #b34700}
header .counter{background-color:#e65c00}
footer{background-color:#2f2f2f;color:#f4f4f4 !important;}
footer nav > ul button{background-color:#2f2f2f}
footer .counter{background-color:#4e4e4e}
article{background-color:#e7e7e7;color:#000}
aside{background-color:#2f2f2f;color:#f4f4f4 !important;}
aside .counter{background-color:#6d6d6d}
button,.button{font-size:12.8px;background-color:#f60;background-image:-webkit-linear-gradient(#ff9c59,#f60);background-image:-moz-linear-gradient(#ff9c59,#f60);background-image:-ms-linear-gradient(#ff9c59,#f60);background-image:-o-linear-gradient(#ff9c59,#f60);background-image:linear-gradient(#ff9c59,#f60);color:#f4f4f4 !important;}
button.accept,.button.accept{background-color:#199c12;background-image:-webkit-linear-gradient(#20c917,#199c12);background-image:-moz-linear-gradient(#20c917,#199c12);background-image:-ms-linear-gradient(#20c917,#199c12);background-image:-o-linear-gradient(#20c917,#199c12);background-image:linear-gradient(#20c917,#199c12);color:#f4f4f4 !important}
button.cancel,.button.cancel{background-color:#ed1c13;background-image:-webkit-linear-gradient(#f03e36,#ed1c13);background-image:-moz-linear-gradient(#f03e36,#ed1c13);background-image:-ms-linear-gradient(#f03e36,#ed1c13);background-image:-o-linear-gradient(#f03e36,#ed1c13);background-image:linear-gradient(#f03e36,#ed1c13);color:#f4f4f4 !important}
aside .current,footer .current{background-color:#4e4e4e}
div[data-element="notification"] > div.window{background-color:rgba(0,0,0,0.8);}
div[data-element="notification"] > div.window *{color:rgba(250,250,250,0.6)}
div[data-element="notification"] > div.window .title{color:rgba(255,255,255,0.9)}
div[data-element="notification"] > div.window .icon{font-weight:bold}
div[data-element="notification"] > div.window.success{border-color:#199c12;}
div[data-element="notification"] > div.window.success .icon{color:#199c12}
div[data-element="notification"] > div.window.error{border-color:#ed1c13;}
div[data-element="notification"] > div.window.error .icon{color:#ed1c13}
#circular3dG > div{background-color:#f60}
.progress_bar{background-color:#6d6d6d;}
.progress_bar .percent{background-color:#f60}
