html, body
  font FONT
body[data-os], body[data-browser]
  background-image -webkit-linear-gradient(top, THEME_COLOR 52px, lighten(SECONDARY, 5%) 0px, lighten(SECONDARY, 5%) 102px, lighten(SECONDARY, 5%) 0px, BACKGROUND 0px, BACKGROUND 100%)
  background-image -moz-linear-gradient(top, THEME_COLOR 52px, lighten(SECONDARY, 5%) 0px, lighten(SECONDARY, 5%) 102px, lighten(SECONDARY, 5%) 0px, BACKGROUND 0px, BACKGROUND 100%)
  background-image -o-linear-gradient(top, THEME_COLOR 52px, lighten(SECONDARY, 5%) 0px, lighten(SECONDARY, 5%) 102px, lighten(SECONDARY, 5%) 0px, BACKGROUND 0px, BACKGROUND 100%)
  background-image -ms-linear-gradient(top, THEME_COLOR 52px, lighten(SECONDARY, 5%) 0px, lighten(SECONDARY, 5%) 102px, lighten(SECONDARY, 5%) 0px, BACKGROUND 0px, BACKGROUND 100%)
  background-image linear-gradient(top, THEME_COLOR 52px, lighten(SECONDARY, 5%) 0px, lighten(SECONDARY, 5%) 102px, lighten(SECONDARY, 5%) 0px, BACKGROUND 0px, BACKGROUND 100%)

  -webkit-box-shadow inset 0px -65px 0px 0px lighten(SECONDARY, 5%)
  -moz-box-shadow inset 0px -65px 0px 0px lighten(SECONDARY, 5%)
  box-shadow inset 0px -65px 0px 0px lighten(SECONDARY, 5%)

  & *
    font-family FONT_FAMILY
    // font-family "lato"

.accept
  background-color lighten(SUCCESS, 15%)!important
  color #FFF

.cancel
  background-color lighten(FAIL, 15%)!important
  color #FFF