html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-box-align: stretch;
    -o-box-align: stretch;
    box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
    -ms-flex-pack: justify;
}
.navbar.navbar-default{
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-box-ordinal-group: 1;
    -o-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    -o-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -o-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-bottom: 0;
}
.mycontainer{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 9999999 auto;
    -moz-flex: 1 9999999 auto;
    -ms-flex: 1 9999999 auto;
    -o-flex: 1 9999999 auto;
    flex: 1 9999999 auto;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    -o-order: 3;
    order: 3;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-box-ordinal-group: 3;
    -o-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -ms-flex-order: 3;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-box-align: stretch;
    -o-box-align: stretch;
    box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
    -ms-flex-pack: justify;
}

#phone_container{
    background-color: #d6d6d6;
    width: 500px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    -o-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -o-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
}
#editor_container{
    background-color: #3bd78f;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    padding: 0;
}

#phone_container iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 640px;
}

#editor_container > #editor{
    /*height: 100%;*/
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0;
}

#editor_container > #controls{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0;
}

#editor_container > #controls > *{
    display:inline-block;
    height: 100%;
    border-radius: 0;
    width: 25%;
    text-align: center;
    margin: 0;
    margin-right: -3px;
    box-sizing: border-box;
}

#editor_container > #controls > button{
    margin-top: -5px;
}
#editor_container > #controls > label{
    text-align: right;
    padding-right: 5px;
}

#editor_container > div > pre{
    height: 100%;
    width: 100%;
}


