.line
  width 100%
  display block

  & > *
    float left
    display inline
    text-align center

  & > .one_column
    width COLUMN

  & > .one_gap
    margin-left COLUMN

  & > .two_column
    width COLUMN * 2

  & > .two_gap
    margin-left COLUMN * 2

  & > .three_column
    width COLUMN * 3

  & > .three_gap
    margin-left COLUMN * 3

  & > .four_column
    width COLUMN * 4

  & > .four_gap
    margin-left COLUMN * 4

  & > .five_column
    width COLUMN * 5

  & > .five_gap
    margin-left COLUMN * 5

  & > .six_column
    width COLUMN * 6

  & > .six_gap
    margin-left COLUMN * 6

  & > .seven_column
    width COLUMN * 7

  & > .seven_gap
    margin-left COLUMN * 7

  & > .eight_column
    width COLUMN * 8

  & > .eight_gap
    margin-left COLUMN * 8

  & > .nine_column
    width COLUMN * 9

  & > .nine_gap
    margin-left COLUMN * 9

  & > .ten_column
    width COLUMN * 10

  & > .ten_gap
    margin-left COLUMN * 10