#circular3dG
  position relative
  width LOADER_SIZE
  height LOADER_SIZE

.circular3dG
  position absolute
  background-color #000000
  width LOADER_BALL
  height LOADER_BALL
  border-radius(50%)
  animation-name(bounce_circular3dG)
  animation-duration(1.28s)
  animation-iteration-count(infinite)
  animation-direction(linear)

#circular3d_1G
  left 52px
  top 8px
  animation-delay(0.4800000000000001s)

#circular3d_2G
  left 78px
  top 30px
  animation-delay(0.64s)

#circular3d_3G
  left 94px
  top 58px
  animation-delay(0.8s)

#circular3d_4G
  left 88px
  top 86px
  animation-delay(0.9600000000000002s)

#circular3d_5G
  left 54px
  top 94px
  animation-delay(1.12s)

#circular3d_6G
  left 10px
  top 62px
  animation-delay(1.28s)

#circular3d_7G
  left 0px
  top 18px
  animation-delay(1.44s)

#circular3d_8G
  left 22px
  top 0px
  animation-delay(1.6s)

@keyframes bounce_circular3dG
    0%
      transform scale(1)
    100%
      transform scale(.3)

