div[data-element="notification"]
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display none
  background-color rgba(0,0,0,0.6)
  z-index NOTIFICATION_INDEX
  padding-top NOTIFICATION_INDENT*2
  padding-left NOTIFICATION_INDENT
  padding-right NOTIFICATION_INDENT

  box-pack center

  &.center
    box-align center

  &.start
    box-align start

  &.show
    display -webkit-box
    display -ms-box
    display -moz-box
    display box


  & > div.window
    margin-top 200%
    color rgba(0, 0, 0, 0.8)
    padding INDENT
    box-flex 0
    opacity 0
    max-width 450px

    transition-duration NOTIFICATION_TRANSITION_TIME

    &:not(.center)
      width 80%

      & *
        display block
        text-align left

      & > *
        float left

    & .icon
      display block
      text-align center
      height 100%
      line-height 80px
      width 80px
      font-size 3em

    &.show
      margin-top 0%
      opacity 1

    &.success, &.error

      & .title
        padding-top 0.3em

    &.progress
      width 80%

      & .icon
        width 100%

    &.center
      text-align center
      padding 1.8em

      & > #circular_container
        width LOADER_SIZE
        margin 0 auto 0 auto

    & .title
      line-height 40px
      font-size FONT_SIZE_BIG

    & .content
      padding-top 0.5em