.blue
  background-color blue!important
.red
  background-color red!important
.yellow
  background-color yellow!important
.black
  background-color black!important
.white
  background-color white!important
.grey
  background-color grey!important
.green
  background-color green!important
.pink
  background-color pink!important
.purple
  background-color purple!important
.brown
  background-color brown!important
.firefox
  background-color #FF6600!important