section
  height inherit
  width inherit
  position absolute
  margin 0
  z-index 0
  top 0
  left 0
  bottom 0
  opacity 0

  transition-duration SECTION_TRANSITION_TIME

  &.active
    opacity 1
    z-index SECTION_INDEX

  &:not(.active) > article
    display none

  &.footer > article
    padding-bottom FOOTER_HEIGHT

header
  position fixed
  top 0
  left 0
  right 0
  height HEADER_HEIGHT
  line-height HEADER_HEIGHT
  width 100%
  z-index HEADER_INDEX

  & > h1
    font-weight bold
    display inline-block
    position absolute
    text-align center
    width 100%
    left 0
    margin-top 0
    z-index HEADER_H1_INDEX

  & > nav
    position fixed
    z-index HEADER_NAV_INDEX

    &.right
      right 0

      & > button
        margin-right 5px

    &.left
      left 0

      & > button
        margin-left 5px

footer
  position fixed
  bottom 0
  left 0
  right 0
  width 100%
  height FOOTER_HEIGHT
  line-height FOOTER_HEIGHT

  display -webkit-box
  display -ms-box
  display -moz-box
  display -o-box
  display box

  box-orient horizontal
  box-direction normal
  box-pack justify
  box-align stretch

  & nav
    box-flex 1
    height FOOTER_HEIGHT
    line-height FOOTER_HEIGHT
    padding 0
    display -webkit-box
    display -ms-box
    display -moz-box
    display -o-box
    display box
    width 100%

    box-orient horizontal
    box-direction normal
    box-pack justify
    box-align stretch

    & > *
      box-flex 1
      text-align center
      width 100%
      display block
      height FOOTER_HEIGHT

      & > *
        line-height FOOTER_HEIGHT
        height FOOTER_HEIGHT

      &.active
        background-color rgba(250,250,250,0.15)

article
  min-width 100%
  width auto
  display none
  padding-top 5px
  position absolute
  top HEADER_HEIGHT

  &.active
    display block

