body
  width 100%
  height 100%
  background-color black
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

aside
  display block
  width ASIDE_WIDTH
  padding ASIDE_PADDING
  z-index ASIDE_INDEX
  position fixed
  top 50px
  bottom 0
  left - ASIDE_TRANSITION
  // transition(all ASIDE_TRANSITION_TIME ease)
  -webkit-transition-duration ASIDE_TRANSITION_TIME
  -moz-transition-duration ASIDE_TRANSITION_TIME
  -ms-transition-duration ASIDE_TRANSITION_TIME
  -o-transition-duration ASIDE_TRANSITION_TIME
  transition-duration ASIDE_TRANSITION_TIME

  -webkit-transition-timing-function cubic-bezier(.73, .25, .4, .97)
  -moz-transition-timing-function cubic-bezier(.73, .25, .4, .97)
  -ms-transition-timing-function cubic-bezier(.73, .25, .4, .97)
  -o-transition-timing-function cubic-bezier(.73, .25, .4, .97)
  transition-timing-function cubic-bezier(.73, .25, .4, .97)

  &.show
    // transform(translate(ASIDE_TRANSITION))
    left 0

  & .counter
    margin-top -3px
    -webkit-border-radius 2px
    -moz-border-radius 2px
    border-radius 2px
    padding .2em .4em .2em .4em
    float right

div[data-element="aside_background"]
  position fixed
  top HEADER_HEIGHT
  bottom 0
  left 0
  right 0
  transition(opacity ASIDE_TRANSITION_TIME ease-out)
  z-index 0
  opacity 0

  &.show
    background-color black
    opacity 0.6
    z-index ASIDE_BCK_INDEX

.indented > div
  padding INDENT

.anchor
  width 100%

