body
  width 100%
  height 100%
  background-color black
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

section
  height inherit
  width inherit
  display none
  position fixed
  z-index SECTION_INDEX
  top 0
  left 0

  &.active
    display block

header
  position fixed
  top 0
  left 0
  height HEADER_HEIGHT
  width 100%

  & > h1
    font-weight bold
    display inline-block
    position absolute
    text-align center
    width 100%
    left 0
    z-index HEADER_H1_INDEX

  & > nav
    margin-top 5px
    position absolute
    z-index HEADER_NAV_INDEX

    &.right
      right 0

      & > button
        margin-right 5px

    &.left
      left 0

      & > button
        margin-left 5px

    & > button.button
      text-indent 0
      border 1px solid #737476
      border-radius(5px)
      display inline-block
      font-weight bold
      font-style normal
      line-height 30px
      text-decoration none
      text-align center
      box-shadow 1px 1px rgba(255, 255, 255, .25)
      background-color rgba(180,180,180,0.15)

footer
  position fixed
  bottom 0
  left 0
  width 100%
  height FOOTER_HEIGHT

  & > nav
    display -webkit-box
    display -moz-box
    display box

    -webkit-box-pack center
    -moz-box-pack center
    box-pack center

    & > *
      -webkit-box-flex 1
      -moz-box-flex 1
      box-flex 1

      &.box_2
        -webkit-box-flex: 2
        -moz-box-flex: 2
        box-flex: 2

      &.box_3
        -webkit-box-flex: 3
        -moz-box-flex: 3
        box-flex: 3

      &.box_4
        -webkit-box-flex: 4
        -moz-box-flex: 4
        box-flex: 4

      &.box_5
        -webkit-box-flex: 5
        -moz-box-flex: 5
        box-flex: 5

      &.box_6
        -webkit-box-flex: 6
        -moz-box-flex: 6
        box-flex: 6

      &.box_7
        -webkit-box-flex: 7
        -moz-box-flex: 7
        box-flex: 7

      &.box_8
        -webkit-box-flex: 8
        -moz-box-flex: 8
        box-flex: 8

      &.box_9
        -webkit-box-flex: 9
        -moz-box-flex: 9
        box-flex: 9

    & > div
      display block
      height FOOTER_HEIGHT

      & > button
        width 100%
        height 100%

article
  position fixed
  top HEADER_HEIGHT
  left 0
  height inherit
  width 100%
  display none

  &.active
    display block

aside
  display block
  width ASIDE_WIDTH
  padding ASIDE_PADDING
  z-index ASIDE_INDEX
  position fixed
  top 50px
  bottom 0
  left - ASIDE_TRANSITION
  transition(all ASIDE_TRANSITION_TIME linear)

  &.show
    transform(translate(ASIDE_TRANSITION))

div[data-element="aside_background"]
  position fixed
  top HEADER_HEIGHT
  bottom 0
  left 0
  right 0
  transition(opacity 1s ease-out)
  z-index 0

  &.show
    background-color rgba(0,0,0,0.6)
    z-index ASIDE_BCK_INDEX


