// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
@media screen and (min-width : 768px) and (orientation : landscape)
  body, html
    display -webkit-box
    display -ms-box
    display -o-box
    display -moz-box
    display box

    box-align stretch
    box-orient horizontal
    box-pack justify

  div[data-element="aside_background"]
    display block
    width ASIDE_WIDTH + ASIDE_PADDING * 2!important
    z-index ASIDE_BCK_INDEX
    height 100%
    box-flex 0
    top 0

  aside
    height 100%
    top 0
    left 0
    z-index FULL_ASIDE_INDEX
    position absolute

  section
    display none

  section.active
    position static
    margin-left ASIDE_WIDTH + ASIDE_PADDING * 2!important
    box-flex 1
    height 100%

    display -webkit-box
    display -ms-box
    display -o-box
    display -moz-box
    display box

    box-align stretch
    box-orient vertical
    box-pack justify

    &.footer > article
      padding-bottom 0!important

    &.extended_header > article
      margin-top HEADER_HEIGHT

  header
    position static
    box-flex 0
    margin 0
    text-align left
    ordinal-group(1)

    & > h1
      position static
      text-align left
      width auto
      padding 0 1em

      & > img
        width auto

    & > nav
      &:after
        display block
        content ""
        clear both

      &.right
        position relative
        z-index HEADER_NAV_INDEX
        float right

        & > button
          margin-right 5px

      &.left
        position relative
        z-index HEADER_NAV_INDEX
        float right

        & > button
          margin-left 5px

      &:not(.right)
        &:not(.left)
          position relative
          margin -17px 0 0 0
          float left

  article
    position static
    top 0
    overflow-y scroll
    box-flex 1
    ordinal-group(2)

  footer
    position static
    box-flex 0
    ordinal-group(3)

  [data-action=aside]
    display none
