article ul
  list-style none
  width 100%
  padding 0
  margin 0


  & > li
    position relative
    background-color white
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    padding .9em

    &.separator
      background-color rgba(0, 0, 0, 0.1)
      color white
      padding 1px 10px 1px 10px

    &.icon:before
      display inline-block
      float left
      margin-right .3em
      line-height 40px
      width 40px
      height 40px
      font-size 3em

    &:first-child
      border-top 1px solid rgba(0, 0, 0, 0.1)

    & h1, h2, h3, h4, h5, h6, strong, small
      overflow hidden
      white-space nowrap
      display block

    & small
      margin-top .2em

    & > img
      width LIST_IMAGE
      height LIST_IMAGE
      display inline
      float left
      margin-right .9em

      &.big
        width LIST_BIG_IMAGE
        height LIST_BIG_IMAGE
        margin-right .7em
        margin-left -.9em
        margin-top -.9em
        margin-bottom -.9em


      &.small
        width LIST_SMALL_IMAGE
        height LIST_SMALL_IMAGE
        margin-right 1.1em
        margin-top .4em

    & input
      &[type="radio"], &[type="checkbox"]
        &.onright
          margin-top -0.1em

          &.switch
            margin-top -0.4em
    & .icon
      display inline-block
      float left
      margin-right .4em
      line-height 1em
      width 24px
      height 24px
      font-size 1.4em

    & label:not(.select)
      line-height 32px
      height 32px
      float left
      margin-top 5px

    & input, & select, & textarea, & label.select
      float right

    &:after
      display block
      content ""
      clear both

    & [type="text"], & [type="password"], & [type="date"], & [type="datetime"], & [type="email"], & [type="number"], & [type="search"], & [type="tel"], & [type="time"], & [type="url"], & select, & textarea, & label.select
      width 100%

    & [type="range"]
      width 100%

  &.indented > li
    margin INDENT

aside ul
  list-style none
  width 100%
  padding 0
  margin-left 0
  margin-right 0

  & > li
    position relative
    font-size 1.2em
    padding 11px 10px 11px 10px
    margin-bottom 2px

    &.icon
      line-height 20px
      height 24px
      &:before
        margin-top 2px
        display inline-block
        margin-right .6em
        width 24px
        font-size 1.6em

    & > img
      width LIST_IMAGE
      height LIST_IMAGE
      display inline
      float left
      margin-right .9em

      & + *
        position relative
        top 10px

      &.big
        width LIST_BIG_IMAGE
        height LIST_BIG_IMAGE
        margin-right .7em
        margin-left -.9em
        margin-top -.9em
        margin-bottom -.9em


      &.small
        width LIST_SMALL_IMAGE
        height LIST_SMALL_IMAGE
        margin-right 1.1em
        margin-top .4em

    &:after
      display block
      content ""
      clear both

    &.separator
      background-color rgba(0, 0, 0, 0.1)
      color white
      padding 1px 10px 1px 10px
