CONTENT_HEIGHT = PULL_CONTENT - ( PULL_PADDING * 2)
ICON_RADIUS    = CONTENT_HEIGHT /2 + PULL_BORDER
INITIAL_POS    = PULL_HEIGHT + 11

div.pulltorefresh
  width 100%
  line-height PULL_CONTENT
  border-top 1px solid rgba(0, 0, 0, 0.1)
  border-bottom 1px solid rgba(0, 0, 0, 0.6)
  padding-top PULL_HEIGHT - PULL_CONTENT
  padding-bottom PULL_PADDING
  transition -webkit-transform 0ms
  transform(translate(0,- INITIAL_POS))
  margin-bottom - INITIAL_POS
  position relative

  & span
    height CONTENT_HEIGHT
    line-height CONTENT_HEIGHT
    display inline-block

    &.text
      font-size 1.5em
      position relative
      top -7px

    &.icon
      width CONTENT_HEIGHT
      border-radius ICON_RADIUS
      border PULL_BORDER solid rgba(0, 0, 0, 0.8)
      text-align center
      padding 0
      margin-left 1em
      margin-right 1em
      font-size 2rem

      &.down-big
        transition-duration 250ms

      &.animated
        border none
        font-size 3rem
        margin-right .5em
        margin-top 10px

      &.rotated
        transform(rotate(180deg))

.pulling > div
  position static!important

// section.indented > div.pulltorefresh
//   top - (INITIAL_POS + 10)
//   transform(translate(0,- (INITIAL_POS + 10)))
