TEXT                = #000
THEME               = #FF6600
COLOR               = #F4F4F4
ASIDE               = #2f2f2f
ALERT               = #ed1c13
SUCCESS             = #1eb815
WARNING             = #edba22
DISABLED            = #acb8b9
BACKGROUND          = lighten(#DFDFDF, 25%)
FONT                = 16px/1.25  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
FONT_SIZE           = 16px/1.25

/* -------------------------- VARIATIONS -------------------------- */
LIST_border         = darken(COLOR, 15%)
NAV_LINK            = lighten(ASIDE, 20%)
NAV_LINK_ACTIVE     = #fff
/* ------------------------- TRANSITION ------------------------- */
TRANSITION_time     = 400ms
TRANSITION_easing   = ease
/* ------------------------- RADIUS ------------------------- */
BORDER_radius       = 1px
/* -------------------------- FORM -------------------------- */
FORM_color          = darken(#e5e5e5, 5%)
FORM_border         = 2px
FORM_border_radius  = (BORDER_radius * FORM_border)
/* -------------------------- BUTTON -------------------------- */
SHADOW              = rgba(0,0,0,0.1)

body
  font FONT
  background-color BACKGROUND

header
  background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -o-linear-gradient(lighten(THEME, 35%), THEME)
  background-image linear-gradient(lighten(THEME, 35%), THEME)
  color COLOR

  & .counter
    background-color lighten(THEME, 30%)

  & .button
    border 1px solid darken(THEME, 30%)

  & .counter
    background-color darken(THEME, 10%)

footer
  background-color ASIDE
  color COLOR

  & nav > div > button
    background-color ASIDE

  & .counter
    background-color lighten(ASIDE, 15%)

article
  background-color BACKGROUND
  color TEXT

aside
  background-color ASIDE
  color COLOR

  & .counter
    background-color lighten(ASIDE, 30%)

button, .button
  font-size FONT_SIZE
  background-color THEME
  background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -o-linear-gradient(lighten(THEME, 35%), THEME)
  background-image linear-gradient(lighten(THEME, 35%), THEME)
  color COLOR

button, .button
  &.accept
    background-color SUCCESS
    background-image -webkit-linear-gradient(lighten(SUCCESS, 25%), SUCCESS)
    background-image -moz-linear-gradient(lighten(SUCCESS, 25%), SUCCESS)
    background-image -ms-linear-gradient(lighten(SUCCESS, 25%), SUCCESS)
    background-image -o-linear-gradient(lighten(SUCCESS, 25%), SUCCESS)
    background-image linear-gradient(lighten(SUCCESS, 25%), SUCCESS)
    color COLOR

button, .button
  &.cancel
    background-color ALERT
    background-image -webkit-linear-gradient(lighten(ALERT, 25%), ALERT)
    background-image -moz-linear-gradient(lighten(ALERT, 25%), ALERT)
    background-image -ms-linear-gradient(lighten(ALERT, 25%), ALERT)
    background-image -o-linear-gradient(lighten(ALERT, 25%), ALERT)
    background-image linear-gradient(lighten(ALERT, 25%), ALERT)
    color COLOR

aside .current, footer .current
  background-color lighten(ASIDE, 15%)

div[data-element="notification"] > div.window
  background-color lighten(BACKGROUND, 25%)

  &.success
    background-color rgba(0,0,0,0.8)

    & *
      color rgba(250,250,250,0.6)

    & .title
      color rgba(255,255,255,0.9)

    & .icon
      color SUCCESS
      font-weight bold





