article
  height 100%
  width 100%
  margin 0
  padding 0
  z-index 0
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  overflow hidden

  display-flexbox-vertical()

  flexbox-align-stretch()
  flexbox-pack-justify()

  &.active
    z-index ARTICLE_INDEX_ACTIVE

  & > article
    position relative
    opacity 1

  &.asided
    margin-left ASIDE_WIDTH !important

  &.ontransition
    display block

    & footer
      position absolute
      left 0
      right 0
      bottom 0

  & header
    position relative
    flexbox-order(1)
    flexbox-weight(0)
    font-size 14px
    top 0
    left 0
    right 0
    height HEADER_HEIGHT
    max-height HEADER_HEIGHT
    line-height HEADER_HEIGHT
    width 100%
    z-index HEADER_INDEX
    text-align center
    transition-duration SECTION_TRANSITION_TIME

    & > h1
      font-weight bold
      font-size 1.5em
      display inline-block
      position absolute
      text-align center
      width 100%
      left 0
      margin-top 0
      z-index HEADER_H1_INDEX

      & > img
        width auto
        height HEADER_HEIGHT - 8
        margin-top 4px

    & > nav
      height HEADER_HEIGHT
      max-height HEADER_HEIGHT

      &.right
        position absolute
        z-index HEADER_NAV_INDEX
        right 0

        & > button
          margin-right 5px

      &.left
        position absolute
        z-index HEADER_NAV_INDEX
        left 0

        & > button
          margin-left 5px

article > nav
  flexbox-weight(0)
  flexbox-order(2)
  font-size 1.2em
  width 100%
  line-height HEADER_HEIGHT
  padding 0
  display-flexbox-horizontal()

  box-direction normal
  box-pack justify
  box-align stretch

  z-index 1000000000

  & > *
    flexbox-weight(1)
    text-align center
    width 100%
    display block
    height HEADER_HEIGHT
    line-height HEADER_HEIGHT
    font-size 1em!important
    margin-top 0!important
    transition-duration 200ms

  & .icon
    &:before
      font-size 1em
    &:empty
      &:before
        margin-right 0
        font-size 1.4em !important

footer
  position relative
  bottom 0
  left 0
  right 0
  flexbox-weight(0)
  flexbox-order(4)
  width 100%
  height FOOTER_HEIGHT
  line-height FOOTER_HEIGHT
  z-index FOOTER_INDEX

  display-flexbox-horizontal()

  box-direction normal
  box-pack justify
  box-align stretch
  transition-duration SECTION_TRANSITION_TIME

  &.bottom
    position absolute
    bottom 0
    left 0
    right 0

  & nav
    margin 0
    flexbox-weight(1)
    height FOOTER_HEIGHT
    line-height FOOTER_HEIGHT
    padding 0
    width 100%

    display-flexbox-horizontal()
    box-direction normal
    box-pack justify
    box-align stretch

    & > *
      flexbox-weight(1)
      text-align center
      width 100%
      display block
      height FOOTER_HEIGHT

      & > *
        line-height FOOTER_HEIGHT
        height FOOTER_HEIGHT

      &.active
        background-color rgba(250,250,250,0.15)

article.active > section.active
  &:not(.centered):not(.iscroll):not(.noscroll)
    overflow-y scroll
    -webkit-overflow-scrolling touch

section
  position relative
  // top 4px
  width 100%
  margin 0
  overflow-x hidden
  overflow-y hidden
  box-flex 1
  flex 1 9999999 auto
  flexbox-order(3)

  &.horizontal
    width auto
    min-width 100%

  &.active
    display block

  &.indented:not(.iscroll)
    &.active
      & > div:not(.pulltorefresh)
        // position relative
        // min-height 100%
        position absolute
        top 0
        bottom 0
        left 0
        right 0

    & > div:not(.pulltorefresh)
      flexbox-weight(1)
      width 100%
      box-sizing(border-box)
      height 100%
      & > *:last-child
        margin-bottom INDENT

  &.centered
    &.active
      display-flexbox-vertical()
      flexbox-align-center()
      flexbox-pack-center()

      & > *:first-child
        flexbox-weight 0
        max-height 75%
        max-width 75%
        background-color #fff
        box-sizing(border-box)
        padding INDENT
        overflow hidden

header > h1 > img + span
  position relative
  top -10px