article, section
  transform-origin 100% 100%
  vendor(animation-duration, 500ms)
  vendor(animation-timing-function, cubic-bezier(0.465, 0.330, 0.440, 0.950))
  vendor(transform, translate3d(0,0,0))

  &:not([data-direction])
    &:not(.active)
      display none

  &:not([data-animation]), &[data-animation=fade]
    &:not([data-direction])
      &:not(.active)
        opacity 0
    &[data-direction="out"], &[data-direction="back-out"]
      vendor(animation-name, fade_out)
    &[data-direction="in"], &[data-direction="back-in"]
      vendor(animation-name, fade_in)
    &.active
      opacity 1

  // Animation SLIDE
  &[data-animation="slide"]
    &[data-direction="in"]
      vendor(animation-name, slide_in)
    &[data-direction="out"]
      vendor(animation-name, slide_out)
    &[data-direction="back-in"]
      vendor(animation-name, slide_back_in)
    &[data-direction="back-out"]
      vendor(animation-name, slide_back_out)

  &[data-animation="cover"]
    &[data-direction="in"]
      vendor(animation-name, cover_in)
      z-index ARTICLE_INDEX_ACTIVE
    &[data-direction="out"]
      vendor(animation-name, cover_out)
      z-index ARTICLE_INDEX_OUT
    &[data-direction="back-in"]
      vendor(animation-name, cover_back_in)
      z-index ARTICLE_INDEX_ACTIVE
    &[data-direction="back-out"]
      vendor(animation-name, cover_back_out)
      z-index ARTICLE_INDEX_OUT

  // Animation ROOM
  &[data-animation="room"]
    vendor(animation-duration, 1000ms)
    &[data-direction="in"]
      vendor(animation-name, room_in)
      vendor(transform-origin, 0 50%)
    &[data-direction="out"]
      vendor(animation-name, room_out)
      vendor(transform-origin, 100% 50%)
    &[data-direction="back-in"]
      vendor(animation-name, room_back_in)
      vendor(transform-origin, 100% 50%)
    &[data-direction="back-out"]
      vendor(animation-name, room_back_out)
      vendor(transform-origin, 0 50%)

  // Animation CUBE
  &[data-animation="cube"]
    vendor(animation-duration, 1000ms)
    &[data-direction="in"]
      vendor(animation-name, cube_in)
      vendor(transform-origin, 0 50%)
    &[data-direction="out"]
      vendor(animation-name, cube_out)
      vendor(transform-origin, 100% 50%)
    &[data-direction="back-in"]
      vendor(animation-name, cube_back_in)
      vendor(transform-origin, 100% 50%)
    &[data-direction="back-out"]
      vendor(animation-name, cube_back_out)
      vendor(transform-origin, 0 50%)


// Keyframes FADE
@keyframes fade_in
  0%
    opacity 0
  100%
    opacity 1

@keyframes fade_out
  0%
    opacity 1
  100%
    opacity 0

// Keyframes SLIDE
@keyframes slide_in
  0%
    vendor(transform, translateX(100%))
  100%
    vendor(transform, translateX(0))

@keyframes slide_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(-100%))

@keyframes slide_back_in
  0%
    vendor(transform, translateX(-100%))
  100%
    vendor(transform, translateX(0))

@keyframes slide_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%))

// Keyframes COVER
@keyframes cover_in
  0%
    vendor(transform, translate(0, 100%))
  100%
    vendor(transform, translate(0, 0))

@keyframes cover_out
  0%
    vendor(transform, translate(0, 0))
  100%
    vendor(transform, translate(0, 0))

@keyframes cover_back_in
  0%
    vendor(transform, translate(0, -100%))
  100%
    vendor(transform, translate(0, 0))

@keyframes cover_back_out
  0%
    vendor(transform, translate(0, 0))
  100%
    vendor(transform, translate(0, 0))


DEFAULT_DEGREES = 85deg

// Keyframes ROOM
@keyframes room_in
  0%
    vendor(transform, translateX(100%) rotateY(-(DEFAULT_DEGREES)))
  100%
    vendor(transform, translateX(0))

@keyframes room_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(-100%) rotateY(DEFAULT_DEGREES))

@keyframes room_back_in
  0%
    vendor(transform, translateX(-100%) rotateY(DEFAULT_DEGREES))
  100%
    vendor(transform, translateX(0))

@keyframes room_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%) rotateY(-(DEFAULT_DEGREES)))

// Keyframes CUBE
@keyframes cube_in
  0%
    vendor(transform, translateX(100%) rotateY(DEFAULT_DEGREES))
  100%
    vendor(transform, translateX(0))

@keyframes cube_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(-100%) rotateY(-(DEFAULT_DEGREES)))

@keyframes cube_back_in
  0%
    vendor(transform, translateX(-100%) rotateY(-(DEFAULT_DEGREES)))
  100%
    vendor(transform, translateX(0))

@keyframes cube_back_out
  0%
    vendor(transform, translateX(0))
  100%
    vendor(transform, translateX(100%) rotateY(DEFAULT_DEGREES))