// Small phones
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  header
    & h1
      font-size 17px

// Phone mode
@media screen and (min-device-width : 320px) and (max-device-width : 768px)
  [data-device="tablet"]
    display none!important

// Tablet portrait mode
@media screen and (min-device-width : 768px) and (orientation : portrait)
  [data-device="tablet"]
    display none!important

// Tablet landscape & Desktop mode
@media screen and (min-device-width : 768px) and (orientation : landscape)
  [data-device="phone"]
    display none!important

  body, html
    display -webkit-box
    display -ms-box
    display -o-box
    display -moz-box
    display box

    box-align stretch
    box-orient horizontal
    box-pack justify

  div[data-element="aside_background"]
    position static
    display block
    width ASIDE_WIDTH!important
    z-index ASIDE_BCK_INDEX
    height 100%
    min-height 99%
    box-flex 0
    ordinal-group(1)
    top 0

  aside
    height 100%
    top 0
    left 0
    z-index FULL_ASIDE_INDEX
    position absolute
    padding-right ASIDE_PADDING

  section
    display none

  section.active
    position static
    box-flex 1
    ordinal-group(2)
    height 100%

    display -webkit-box
    display -ms-box
    display -o-box
    display -moz-box
    display box

    box-align stretch
    box-orient vertical
    box-pack justify

    &.footer > article
      padding-bottom 2px!important

    &.extended_header > article
      margin-top HEADER_HEIGHT

  section > header
    position relative
    top 0
    box-flex 0
    margin 0
    text-align left
    max-height HEADER_HEIGHT
    ordinal-group(1)

    & > h1
      position static
      text-align left
      width auto
      padding 0 1em
      margin 0

      & > img
        width auto

    & > nav
      &:after
        display block
        content ""
        clear both

      &.right
        position relative
        z-index HEADER_NAV_INDEX
        float right

        & > button
          margin-right 5px

      &.left
        position relative
        z-index HEADER_NAV_INDEX
        float left

        & > button
          margin-left 5px

      &:not(.right)
        &:not(.left)
          position relative
          top - (HEADER_HEIGHT + 3)

      & button, & .button
        position static

  article
    position static
    height inherit
    overflow-y scroll
    box-flex 1
    ordinal-group(2)

  footer
    position relative
    bottom 2px
    box-flex 0
    ordinal-group(3)

  [data-action=aside]
    display none!important
