THEME               = #FF6600
SECONDARY           = #2f2f2f
SECONDARY_ACTIVE    = lighten(SECONDARY, 15%)
TEXT                = #000
SECONDARY_TEXT      = #F4F4F4
FAIL                = #ed1c13
SUCCESS             = #199c12
DISABLED            = #acb8b9
BACKGROUND          = #e7e7e7
FONT                = 14px  "lato"
FONT_FAMILY         = "lato"
FONT_SIZE           = 16px

/* -------------------------- VARIATIONS -------------------------- */
LIST_border         = darken(SECONDARY_TEXT, 15%)
NAV_LINK            = lighten(SECONDARY, 20%)
NAV_LINK_ACTIVE     = #fff
/* ------------------------- TRANSITION ------------------------- */
TRANSITION_time     = 400ms
TRANSITION_easing   = ease
/* ------------------------- RADIUS ------------------------- */
BORDER_radius       = 1px
/* -------------------------- FORM -------------------------- */
FORM_color          = darken(#e5e5e5, 5%)
FORM_border         = 2px
FORM_border_radius  = (BORDER_radius * FORM_border)

LINE_COLOR          = #bfbfbf
LINE_COLOR_FOCUS    = lighten(THEME, 35%)

/* -------------------------- BUTTON -------------------------- */
SHADOW              = rgba(0,0,0,0.1)

body
  font FONT
  background-color BACKGROUND

  & *
    font-family FONT_FAMILY

section
  background-color BACKGROUND

.theme
  background-color lighten(THEME, 15%)!important

header
  background-color lighten(THEME, 15%)
  background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -o-linear-gradient(lighten(THEME, 35%), THEME)
  background-image linear-gradient(lighten(THEME, 35%), THEME)
  color SECONDARY_TEXT !important

  & .counter
    background-color lighten(THEME, 30%)

  & .button
    border 1px solid darken(THEME, 30%)

  & .counter
    background-color darken(THEME, 10%)

  & > nav
    &:not(.right)
      &:not(.left)
        color SECONDARY_TEXT
        background-color SECONDARY

        & .current
          background-color SECONDARY_ACTIVE
          border-bottom 4px solid THEME
          box-sizing(border-box)

footer
  background-color SECONDARY
  color SECONDARY_TEXT !important

  & button
    background-color SECONDARY

    &:active, &:hover
      & .counter
        background-color SECONDARY

  & .counter
    background-color SECONDARY_ACTIVE

article
  background-color BACKGROUND
  color TEXT

aside
  background-color SECONDARY
  color SECONDARY_TEXT !important
  &.full
    box-shadow(4px 0 3px 1px darken(SECONDARY, 50%))

  & .counter
    background-color lighten(SECONDARY, 30%)

button, .button
  font-size FONT_SIZE
  background-color lighten(THEME, 15%)
  background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)
  background-image -o-linear-gradient(lighten(THEME, 35%), THEME)
  background-image linear-gradient(lighten(THEME, 35%), THEME)
  color SECONDARY_TEXT !important

  &.accept
    background-color lighten(SUCCESS, 15%)
    background-image -webkit-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)
    background-image -moz-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)
    background-image -ms-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)
    background-image -o-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)
    background-image linear-gradient(lighten(SUCCESS, 15%), SUCCESS)
    color SECONDARY_TEXT !important

  &.cancel
    background-color lighten(FAIL, 15%)
    background-image -webkit-linear-gradient(lighten(FAIL, 15%), FAIL)
    background-image -moz-linear-gradient(lighten(FAIL, 15%), FAIL)
    background-image -ms-linear-gradient(lighten(FAIL, 15%), FAIL)
    background-image -o-linear-gradient(lighten(FAIL, 15%), FAIL)
    background-image linear-gradient(lighten(FAIL, 15%), FAIL)
    color SECONDARY_TEXT !important

aside .current, footer .current
  background-color SECONDARY_ACTIVE

aside li, footer button
  &:active, &:hover
    background-color SECONDARY_ACTIVE

div[data-element="notification"] > div > div.window
  background-color rgba(0,0,0,0.8)

  & *
    color rgba(250,250,250,0.6)

  & .title
    color rgba(255,255,255,0.9)

  & .icon
    font-weight bold

  &.success
    border-color SUCCESS

    & .icon
      color SUCCESS

  &.error
    border-color FAIL

    & .icon
      color FAIL

[data-element=notification] .loading .icon
  color THEME

.progress_bar
  background-color lighten(SECONDARY, 30%)

  & .percent
    background-color THEME


input[type="radio"], input[type="checkbox"]
  &.circle, &.square, &.switch
    border-color #adadad
    background-color #dbdbdb
    box-shadow inset 0 0 8px #adadad

  &:not(.switch)
    &:checked
      background-color lighten(THEME, 35%)
      color lighten(THEME, 35%)
      box-shadow inset 0 0 0 13px lighten(THEME, 30%)

  &.switch
    &:after
      background-color white
      border 1px solid #d0d0d0
      box-shadow inset 0 0 8px #d9d9d9

    &:checked
      border-color lighten(THEME, 30%)
      box-shadow inset 0 0 0 13px lighten(THEME, 30%)

input[type="range"]
  background-color #e0e0e0
  border-color #b9b9b9

  &::-moz-range-track
    background-color #e0e0e0
    border-color #b9b9b9

  &:active
    background-color lighten(THEME, 30%)

  &::-webkit-slider-thumb
    background-color white
    border 1px solid #d0d0d0
    box-shadow inset 0 0 10px #d9d9d9

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea, label
  color TEXT
  border-color #b9b9b9

  &:focus, &:hover
    outline: none !important;
    border-color LINE_COLOR_FOCUS

  &.line
    background bottom left -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR), color-stop(100%, LINE_COLOR)) no-repeat, bottom center -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR), color-stop(100%, LINE_COLOR)) repeat-x, bottom right -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR), color-stop(100%, LINE_COLOR)) no-repeat
    background bottom left -webkit-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat, bottom center -webkit-linear-gradient(LINE_COLOR, LINE_COLOR) repeat-x, bottom right -webkit-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat
    background bottom left -moz-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat, bottom center -moz-linear-gradient(LINE_COLOR, LINE_COLOR) repeat-x, bottom right -moz-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat
    background bottom left -o-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat, bottom center -o-linear-gradient(LINE_COLOR, LINE_COLOR) repeat-x, bottom right -o-linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat
    background bottom left linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat, bottom center linear-gradient(LINE_COLOR, LINE_COLOR) repeat-x, bottom right linear-gradient(LINE_COLOR, LINE_COLOR) no-repeat
    background-size 1px 6px, 1px 1px, 1px 6px

    &:focus, &:hover
      background bottom left -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR_FOCUS), color-stop(100%, LINE_COLOR_FOCUS)) no-repeat, bottom center -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR_FOCUS), color-stop(100%, LINE_COLOR_FOCUS)) repeat-x, bottom right -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, LINE_COLOR_FOCUS), color-stop(100%, LINE_COLOR_FOCUS)) no-repeat
      background bottom left -webkit-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat, bottom center -webkit-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) repeat-x, bottom right -webkit-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat
      background bottom left -moz-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat, bottom center -moz-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) repeat-x, bottom right -moz-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat
      background bottom left -o-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat, bottom center -o-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) repeat-x, bottom right -o-linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat
      background bottom left linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat, bottom center linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) repeat-x, bottom right linear-gradient(LINE_COLOR_FOCUS, LINE_COLOR_FOCUS) no-repeat
      background-size 1px 6px, 1px 1px, 1px 6px

label.select
  color #b9b9b9

  &:hover
    color lighten(THEME, 30%)

    & > select
      border-color lighten(THEME, 30%)

li.tapable:active
  color TEXT
  background-color lighten(THEME, 20%)

div.pulltorefresh
  background-color darken(BACKGROUND, 15%)
