aside
  display block
  width ASIDE_WIDTH
  top 0
  bottom 0
  height 100%
  left - ASIDE_TRANSITION
  position absolute
  z-index ASIDE_INDEX
  transition-duration ASIDE_TRANSITION_TIME

  & .counter
    margin-top -3px
    border-radius(2px)
    padding 0 .4em 0 .3em
    float right
    font-size .7em

  &.show
    transform(translateX(ASIDE_WIDTH + 8 + ASIDE_PADDING * 2))

  &.show
    z-index ASIDE_INDEX!important

  & > header
    width 100%
    margin 0
    padding 0
    text-align center
    height HEADER_HEIGHT
    line-height HEADER_HEIGHT

    & > h1
      font-weight bold
      display inline-block
      text-align center
      height HEADER_HEIGHT
      line-height HEADER_HEIGHT
      width 100%
      margin 0

      & > img
        width auto
        height HEADER_HEIGHT - 8
        margin-top 8px
    & + ul
      margin-top 8px

div[data-element="aside_background"]
  position absolute
  top HEADER_HEIGHT
  left 0
  width 100%
  height 100%
  z-index 0
  background-color rgba(0, 0, 0, 0)
  transition(background-color ASIDE_TRANSITION_TIME linear)

  &.full
    background-color rgba(0, 0, 0, 0)!important
    top 0

  &.show
    background-color rgba(0, 0, 0, .6)
    z-index ASIDE_BCK_INDEX

  &.hide
    background-color rgba(0, 0, 0, 0)