@import "vendor.styl"

/* CONSTANTS */
HEADER_HEIGHT                   = 50px

ASIDE_WIDTH                     = 256px
ASIDE_PADDING                   = 6px
ASIDE_TRANSITION                = 276px
ASIDE_TRANSITION_TIME           = 150ms

SECTION_TRANSITION_TIME         = 300ms

NOTIFICATION_TRANSITION         = 570px
NOTIFICATION_TRANSITION_TIME    = 500ms

PROGRESSBAR_TRANSITION_TIME     = 500ms

LOADER_SIZE                     = 64px
LOADER_BALL                     = LOADER_SIZE / 10
INIT_DELAY                      = 0.3s
DELAY_SUM                       = INIT_DELAY / 3

FOOTER_HEIGHT                   = 65px

FONT_SIZE_SMALLEST              = 11px
FONT_SIZE_SMALL                 = 0.9em
FONT_SIZE_NORMAL                = 1.0em
FONT_SIZE_BIG                   = 1.2em
FONT_SIZE_BIGGEST               = 1.4em

LIST_IMAGE                      = 40px
LIST_BIG_IMAGE                  = 70px
LIST_SMALL_IMAGE                = 30px

INDENT                          = 0.8em
NOTIFICATION_INDENT             = 2em

COLUMN                          = 10%

PULL_HEIGHT                     = 500px
PULL_CONTENT                    = 60px
PULL_PADDING                    = 5px
PULL_BORDER                     = 3px

/* Z-INDEXES */
ARTICLE_INDEX                   = 99
SECTION_INDEX                   = 100
HEADER_INDEX                    = 101
FOOTER_INDEX                    = 101
HEADER_H1_INDEX                 = 102
HEADER_NAV_INDEX                = 103

ASIDE_BCK_INDEX                 = 200
ASIDE_INDEX                     = 201
FULL_ASIDE_INDEX                = 50

NOTIFICATION_INDEX              = 400