div[data-element="notification"]
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display none
  background-color rgba(0,0,0,0.6)
  z-index NOTIFICATION_INDEX
  padding-top HEADER_HEIGHT
  padding-left NOTIFICATION_INDENT
  padding-right NOTIFICATION_INDENT

  &.center
    padding-top 0

    & > div.window
      margin-top 50%

  &.show
    display block

  & > div.window
    color rgba(0, 0, 0, 0.8)
    padding INDENT
    margin-left auto
    margin-right auto
    opacity 0
    max-width 450px

    transition-duration NOTIFICATION_TRANSITION_TIME

    &:after
      display block
      content ""
      clear both

    &:not(.center)
      width 80%

    &.bottom2top
      margin-top NOTIFICATION_TRANSITION + HEADER_HEIGHT

      &.show
        transform(translate(0,- NOTIFICATION_TRANSITION))

      & *
        display block
        text-align left

      & > *
        display inline-block

    & .icon
      display block
      text-align center
      height 100%
      line-height 80px
      width 80px
      font-size 3em
      float left

    &.show
      opacity 1

    &.success, &.error
      border-style solid
      border-width 0 0 0 4px

      & .title
        padding-top 0.3em

    &.progress
      width 80%

      & .icon
        width 100%

    &.center
      text-align center
      padding 1.8em

      & > #circular_container
        width LOADER_SIZE
        margin 0 auto 0 auto

    & .title
      line-height 40px
      font-size FONT_SIZE_BIG

    & .content
      padding-top 0.5em