button
  text-indent 0
  border 0
  display inline-block
  font-weight bold
  font-style normal
  line-height 40px
  text-decoration none
  text-align center

header
  & button
    text-indent 0
    display inline-block
    font-weight bold
    font-style normal
    line-height 30px
    text-decoration none
    text-align center

  & button.button
    text-indent 0
    border 1px solid #737476
    border-radius(5px)
    display inline-block
    font-weight bold
    font-style normal
    line-height 30px
    text-decoration none
    text-align center
    box-shadow 1px 1px rgba(255, 255, 255, .25)

footer div button
  width 100%
  height 100%