section
  height 100%
  width 100%
  margin 0
  padding 0
  z-index 0
  opacity 0
  position absolute

  display -webkit-box
  display -ms-box
  display -o-box
  display -moz-box
  display box

  box-align stretch
  box-orient vertical
  box-pack justify

  transition-duration SECTION_TRANSITION_TIME

  &.active
    opacity 1
    z-index SECTION_INDEX

  &:not(.active) > article
    display none

  // &.footer > article
  //   padding-bottom -2px

  &.no_header > article
    top 0

  &.extended_header > article
    margin-top HEADER_HEIGHT

  &.asided
    & header
      margin-left ASIDE_WIDTH + ASIDE_PADDING * 2 !important

      & > nav
        &.right
          transition-duration SECTION_TRANSITION_TIME
          position fixed
          z-index HEADER_NAV_INDEX
          right - (ASIDE_WIDTH + ASIDE_PADDING * 2) !important

          & > button
            margin-right 5px

        &.left
          transition-duration SECTION_TRANSITION_TIME
          position fixed
          z-index HEADER_NAV_INDEX
          margin-left ASIDE_WIDTH + ASIDE_PADDING * 2 !important

          & > button
            margin-left 5px

    & footer
      margin-left ASIDE_WIDTH + ASIDE_PADDING * 2 !important

  &.non_animated
    transition-duration 0ms !important
    & *
      transition-duration 0ms !important

  & header
    position relative
    ordinal-group(1)
    box-flex 0
    top 0
    left 0
    right 0
    height HEADER_HEIGHT
    line-height HEADER_HEIGHT
    width 100%
    z-index HEADER_INDEX
    text-align center
    transition-duration SECTION_TRANSITION_TIME

    & > h1
      font-weight bold
      display inline-block
      position absolute
      text-align center
      width 100%
      left 0
      margin-top 0
      z-index HEADER_H1_INDEX

      & > img
        width auto
        height HEADER_HEIGHT - 8
        margin-top 4px

    & > nav
      height HEADER_HEIGHT
      max-height HEADER_HEIGHT

      &.right
        position absolute
        z-index HEADER_NAV_INDEX
        right 0

        & > button
          margin-right 5px

      &.left
        position absolute
        z-index HEADER_NAV_INDEX
        left 0

        & > button
          margin-left 5px

      &:not(.right)
        &:not(.left)
          position relative
          top HEADER_HEIGHT
          font-size 1.2em
          width 100%
          margin HEADER_HEIGHT 0 0 0
          line-height HEADER_HEIGHT
          padding 0
          display -webkit-box
          display -ms-box
          display -moz-box
          display -o-box
          display box
          box-orient horizontal
          box-direction normal
          box-pack justify
          box-align stretch

          & > *
            box-flex 1
            text-align center
            width 100%
            display block
            height HEADER_HEIGHT
            font-size 1em!important
            margin-top 0!important

          & .icon
            font-size 1em

footer
  position relative
  bottom 2px
  left 0
  right 0
  box-flex 0
  ordinal-group(3)
  margin 0 0 -2px 0
  width 100%
  height FOOTER_HEIGHT
  line-height FOOTER_HEIGHT
  z-index FOOTER_INDEX

  display -webkit-box
  display -ms-box
  display -moz-box
  display -o-box
  display box

  box-orient horizontal
  box-direction normal
  box-pack justify
  box-align stretch
  transition-duration SECTION_TRANSITION_TIME

  & nav
    margin 0
    box-flex 1
    height FOOTER_HEIGHT
    line-height FOOTER_HEIGHT
    padding 0
    display -webkit-box
    display -ms-box
    display -moz-box
    display -o-box
    display box
    width 100%

    box-orient horizontal
    box-direction normal
    box-pack justify
    box-align stretch

    & > *
      box-flex 1
      text-align center
      width 100%
      display block
      height FOOTER_HEIGHT

      & > *
        line-height FOOTER_HEIGHT
        height FOOTER_HEIGHT

      &.active
        background-color rgba(250,250,250,0.15)

article
  width 100%
  display none
  margin 0
  top HEADER_HEIGHT
  overflow visible
  height inherit
  overflow-y scroll
  box-flex 1
  ordinal-group(2)

  &.horizontal
    width auto
    min-width 100%

  &.active
    display block

