.line
  width 100%
  display block

  & > *
    float left
    display inline
    text-align center

  & > .one_column
    width COLUMN

  & > .one_gap
    margin-left COLUMN

  & > .two_column
    width COLUMN * 2

  & > .two_gap
    margin-left COLUMN * 2

  & > .three_column
    width COLUMN * 3

  & > .three_gap
    margin-left COLUMN * 3

  & > .four_column
    width COLUMN * 4

  & > .four_gap
    margin-left COLUMN * 4

  & > .five_column
    width COLUMN * 5

  & > .five_gap
    margin-left COLUMN * 5

  & > .six_column
    width COLUMN * 6

  & > .six_gap
    margin-left COLUMN * 6

  & > .seven_column
    width COLUMN * 7

  & > .seven_gap
    margin-left COLUMN * 7

  & > .eight_column
    width COLUMN * 8

  & > .eight_gap
    margin-left COLUMN * 8

  & > .nine_column
    width COLUMN * 9

  & > .nine_gap
    margin-left COLUMN * 9

  & > .ten_column
    width COLUMN * 10

  & > .ten_gap
    margin-left COLUMN * 10

.grid
  width 100%
  display -webkit-box
  display -ms-box
  display -moz-box
  display box

  &.vertical
    display block
    -webkit-box-orient vertical
    -ms-box-orient vertical
    -moz-box-orient vertical
    box-orient vertical

  &.horizontal
    -webkit-box-orient horizontal
    -ms-box-orient horizontal
    -moz-box-orient horizontal
    box-orient horizontal

  & > *
    -webkit-box-flex 1
    -ms-box-flex 1
    -moz-box-flex 1
    box-flex 1

.box_2
  -webkit-box-flex: 2
  -ms-box-flex: 2
  -moz-box-flex: 2
  box-flex: 2

.box_3
  -webkit-box-flex: 3
  -ms-box-flex: 3
  -moz-box-flex: 3
  box-flex: 3

.box_4
  -webkit-box-flex: 4
  -ms-box-flex: 4
  -moz-box-flex: 4
  box-flex: 4

.box_5
  -webkit-box-flex: 5
  -ms-box-flex: 5
  -moz-box-flex: 5
  box-flex: 5

.box_6
  -webkit-box-flex: 6
  -ms-box-flex: 6
  -moz-box-flex: 6
  box-flex: 6

.box_7
  -webkit-box-flex: 7
  -ms-box-flex: 7
  -moz-box-flex: 7
  box-flex: 7

.box_8
  -webkit-box-flex: 8
  -ms-box-flex: 8
  -moz-box-flex: 8
  box-flex: 8

.box_9
  -webkit-box-flex: 9
  -ms-box-flex: 9
  -moz-box-flex: 9
  box-flex: 9






