aside
  display block
  width ASIDE_WIDTH
  top HEADER_HEIGHT + 1
  bottom 0
  transform(translateX(- ASIDE_TRANSITION))
  position absolute
  z-index ASIDE_INDEX
  transition-duration ASIDE_TRANSITION_TIME

  &.full
    top 0
    height 100%

  & .counter
    margin-top -3px
    border-radius(2px)
    padding 0 .4em 0 .3em
    float right
    font-size .7rem

  &.show
    transform(translateX(0))
    z-index ASIDE_INDEX !important
    & > div
      overflow-y scroll

  & > header
    width 100%
    margin 0
    padding 0
    text-align center
    height HEADER_HEIGHT
    line-height HEADER_HEIGHT
    position absolute
    top 0
    left 0
    right 0
    z-index ASIDE_INDEX +1

    & > h1
      font-weight bold
      display inline-block
      text-align center
      height HEADER_HEIGHT
      line-height HEADER_HEIGHT
      width 100%
      margin 0

      & > img
        width auto
        height HEADER_HEIGHT - 8
        margin-top 8px

    & + div
      top HEADER_HEIGHT
  & > div
    position absolute
    top 0
    bottom 0
    left 0
    right 0
  & ul
    margin-top 0


div[data-element="aside_background"]
  position absolute
  top HEADER_HEIGHT
  left 0
  bottom 0
  width 100%
  z-index 0
  background-color rgba(0, 0, 0, 0)
  transition(background-color ASIDE_TRANSITION_TIME linear)

  &.full
    height 100%
    top 0

  &.show
    background-color rgba(0, 0, 0, .6)
    z-index ASIDE_BCK_INDEX

  &.hide
    background-color rgba(0, 0, 0, 0)