TEXT                = #000
THEME               = #0066FF
COLOR               = #F4F4F4
ASIDE               = #2f2f2f
ALERT               = #e74c3c
SUCCESS             = #2ecc71
WARNING             = #edba22
DISABLED            = #acb8b9
BACKGROUND          = lighten(#DFDFDF, 25%)
FONT                = 16px/1.25  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
FONT_SIZE           = 16px/1.25

/* -------------------------- VARIATIONS -------------------------- */
LIST_border         = darken(COLOR, 15%)
NAV_LINK            = lighten(ASIDE, 20%)
NAV_LINK_ACTIVE     = #fff
/* ------------------------- TRANSITION ------------------------- */
TRANSITION_time     = 400ms
TRANSITION_easing   = ease
/* ------------------------- RADIUS ------------------------- */
BORDER_radius       = 1px
/* -------------------------- FORM -------------------------- */
FORM_color          = darken(#e5e5e5, 5%)
FORM_border         = 2px
FORM_border_radius  = (BORDER_radius * FORM_border)
/* -------------------------- BUTTON -------------------------- */
SHADOW              = rgba(0,0,0,0.1)

body
  font FONT

header
  background-color THEME
  color COLOR

footer
  background-color ASIDE
  color COLOR

  & nav > div > button
    background-color ASIDE

article
  background-color BACKGROUND
  color TEXT

aside
  background-color ASIDE
  color COLOR

button
  font-size FONT_SIZE
  background-color THEME
  color COLOR

button.accept
  background-color SUCCESS
  color COLOR

button.cancel
  background-color ALERT
  color COLOR