vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

vendorValue(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} -ms- + args
  {prop} -o- + args
  {prop} args

animation()
  vendor('animation', arguments)

animation-name()
  vendor('animation-name', arguments)

animation-duration()
  vendor('animation-duration', arguments)

animation-iteration-count()
  vendor('animation-iteration-count', arguments)

animation-direction()
  vendor('animation-direction', arguments)

animation-delay()
  vendor('animation-delay', arguments)

animation-fill-mode()
  vendor('animation-fill-mode', arguments)

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

background-size()
  vendor('background-size', arguments)

background-image()
  vendor('background-image', arguments)

text-shadow()
  vendor('text-shadow', arguments)

backface-visibility()
  vendor('backface-visibility', arguments)

/*=====================FLEXBOX + BOXFLEX=============*/
display-flexbox()
  display -webkit-box
  display -moz-box
  display -ms-box
  display -o-box
  display box
  display -webkit-flexbox
  display -ms-flexbox
  display -webkit-flex
  display flex

display-flexbox-vertical()
  display-flexbox()
  vendor(flex-direction, column)
  box-orient vertical

display-flexbox-horizontal()
  display-flexbox()
  vendor(flex-direction, row)
  box-orient horizontal

flexbox-weight(weight)
  box-flex weight
  flex weight 1 auto
  // vendor(box-flex, weight)
  // vendor(flex, weight)

flexbox-order(args)
  order args
  // vendor('order', args)
  vendor('box-ordinal-group', args)
  -ms-flex-order args

flexbox-vertical()
  vendor(flex-direction, column)
  box-orient vertical

flexbox-horizontal()
  vendor(flex-direction, row)
  box-orient horizontal

flexbox-pack-start()
  vendor('box-pack', start)
  -ms-flex-pack start
  vendor('justify-content', flex-start)
  // vendor('flex-pack', start)

flexbox-pack-end()
  vendor('box-pack', end)
  -ms-flex-pack end
  vendor('justify-content', flex-end)
  // vendor('flex-pack', end)

flexbox-pack-center()
  vendor('box-pack', center)
  -ms-flex-pack center
  vendor('justify-content', center)
  // vendor('flex-pack', cented)

flexbox-pack-justify()
  vendor('box-pack', justify)
  -ms-flex-pack justify
  // vendor('justify-content', space-between)
  // vendor('flex-pack', justify)

flexbox-align-start()
  box-align start
  -ms-flex-align start
  vendor('align-items', flex-start)

flexbox-align-end()
  box-align end
  -ms-flex-align end
  vendor('align-items', flex-end)

flexbox-align-center()
  box-align center
  -ms-flex-align center
  vendor('align-items', center)

flexbox-align-stretch()
  box-align stretch
  -ms-flex-align stretch
  vendor('align-items', stretch)

/* ====================== FLEXBOX ====================== */
display-box()
  vendorValue('display', box)

box-pack()
  vendor('box-pack', arguments)

box-align()
  vendor('box-align', arguments)

box-sizing()
  vendor('box-sizing', arguments)

box-flex()
  vendor('box-flex', arguments)

box-orient()
  vendor('box-orient', arguments)

box-direction()
  vendor('box-direction', arguments)

ordinal-group()
  vendor('box-ordinal-group', arguments)

box-lines()
  vendor('box-lines', arguments)

/* ====================== BOXFLEX ====================== */
display-flex()
  vendorValue('display', flex)

flex-flow()
  vendor('flex-flow', arguments)

justify-content()
  vendor('justify-content', arguments)

align-content()
  vendor('align-content', arguments)

align-items()
  vendor('align-items', arguments)

order()
  vendor('order', arguments)

flex()
  vendor('flex', arguments)

align-self()
  vendor('align-self', arguments)

/* ====================== TRANSITIONS ====================== */
transition()
  vendor('transition', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transition-property()
  vendor('transition-property', arguments)

transition-duration()
  vendor('transition-duration', arguments)

transition-timing-function()
  vendor('transition-timing-function', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)
