THEME               = #FF6600
THEME_COLOR         = lighten(THEME, 15%)
SECONDARY           = #2d2d2d
SECONDARY_ACTIVE    = lighten(SECONDARY, 20%)
TEXT                = #000
SECONDARY_TEXT      = #F4F4F4
FAIL                = #ed1c13
SUCCESS             = #199c12
DISABLED            = #acb8b9
BACKGROUND          = #e7e7e7
FONT                = 14px  "tako"
FONT_FAMILY         = "tako"
FONT_SIZE           = 16px

LINE_COLOR          = #bfbfbf
LINE_COLOR_FOCUS    = lighten(THEME, 35%)