body.noflat, body.no_flat
  & .theme
    background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)!important
    background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)!important
    background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)!important
    background-image -o-linear-gradient(lighten(THEME, 35%), THEME)!important
    background-image linear-gradient(lighten(THEME, 35%), THEME)!important

  & article
    & > header
      background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)!important
      background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)!important
      background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)!important
      background-image -o-linear-gradient(lighten(THEME, 35%), THEME)!important
      background-image linear-gradient(lighten(THEME, 35%), THEME)!important

  & button, .button, input[type=submit], input[type=reset], input[type=button]
    background-image -webkit-linear-gradient(lighten(THEME, 35%), THEME)
    background-image -moz-linear-gradient(lighten(THEME, 35%), THEME)
    background-image -ms-linear-gradient(lighten(THEME, 35%), THEME)
    background-image -o-linear-gradient(lighten(THEME, 35%), THEME)
    background-image linear-gradient(lighten(THEME, 35%), THEME)

  & .accept
    background-image -webkit-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
    background-image -moz-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
    background-image -ms-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
    background-image -o-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
    background-image linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important

  & .cancel
    background-image -webkit-linear-gradient(lighten(FAIL, 15%), FAIL)!important
    background-image -moz-linear-gradient(lighten(FAIL, 15%), FAIL)!important
    background-image -ms-linear-gradient(lighten(FAIL, 15%), FAIL)!important
    background-image -o-linear-gradient(lighten(FAIL, 15%), FAIL)!important
    background-image linear-gradient(lighten(FAIL, 15%), FAIL)!important

  & div[data-element="notification"] > div > article.window
    &.success > header
      background-image -webkit-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
      background-image -moz-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
      background-image -ms-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
      background-image -o-linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important
      background-image linear-gradient(lighten(SUCCESS, 15%), SUCCESS)!important

    &.error > header
      background-image -webkit-linear-gradient(lighten(FAIL, 15%), FAIL)!important
      background-image -moz-linear-gradient(lighten(FAIL, 15%), FAIL)!important
      background-image -ms-linear-gradient(lighten(FAIL, 15%), FAIL)!important
      background-image -o-linear-gradient(lighten(FAIL, 15%), FAIL)!important
      background-image linear-gradient(lighten(FAIL, 15%), FAIL)!important
  & .progress_bar
    border-radius 5px
    & > *
      border-radius 5px
